body{
    background-color: #F6F8F5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content-form-img{
    display: flex;
}

.content-form-img div{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-poule{
    flex: 1;
    overflow: hidden;
}

.img-poule img{
   
    height: 100vh;
}

.content-form{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.icon-poule-form{
    display: flex;
    flex-direction: column;
}


.icon-poule-form img{
    width: 200px;
    height: 200px;
}

form{
    display: flex;
    flex-direction: column;
    width: 250px;
}

input[type=text],input[type=password]{
    height: 20px;
    border-color: #9c9c9c;
    border: none;
    width: 100%;
    height: 30px;
}

fieldset{
    background-color: white;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3vh;
    border-color: grey;
    border-radius: 5px;
}

input[type=submit],input[type=button]{
    margin-top: 20px;
    background-color: #40A681;
    border-color: #40A681;
    color: white;
    padding: 5px;
    transition:  0.5s;
    border-radius: 5px;
} 

input[type=submit]:hover,input[type=button]:hover{
   background-color: #318164;
}

fieldset.login::after {
    font-family: FontAwesome;
    content: '\f007';
    color: #9c9c9c;
}

fieldset.password::after {
    font-family: FontAwesome;
    content: '\f023';
    color: #9c9c9c;
}

.epoule{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: #40A681;
}

.e{
    color: #FF473E;
}

#err{
    color: #FF473E;
}



